
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~selectize/dist/css/selectize.bootstrap3";

body { font-size: 1.5rem; }
.navbar-laravel {
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar > .container, .navbar > .container-fluid {
   justify-content: normal;
}
.navbar-nav { flex-direction: row }
.navbar-brand { font-size: 17px; padding-top: 11px; }

.thumbnail > img { height: 280px;width:auto; }

.img-detail-container img { max-width: 100%; }
.thumbnail.similar > img { max-width: 100%; max-height: 100%;width: auto;height: auto; }